# Ignoruj katalogi var i vendor w każdym projekcie
*/src/var/
*/src/vendor/

# Ignoruj katalogi .idea we wszystkich projektach
*/.idea/

# Ignoruj pliki/foldery wygenerowane przez Composer
/vendor/
/composer.lock
